<article class="col-lg-3 col-md-6 col-12 wow fadeInDown" data-wow-duration="500ms">    
    <div class="team-member">
      <div class="member-photo">
        {{"<!-- member photo -->" | safeHTML}}

        {{ $pos_h := resources.Get .Params.image_h }}
        {{ $pos_h := $pos_h.Fill "500x583" }}
        {{ $poswep_h := $pos_h.Fill "500x583 webp" }}

        {{ if .Params.image_d }}
        {{ $pos_d := resources.Get .Params.image_d }}
        {{ $pos_d := $pos_d.Fill "500x583" }}
        {{ $poswep_d := $pos_d.Fill "500x583 webp" }}
        <img class="img-fluid bottom" src="{{ $poswep_d.RelPermalink }}" onerror="this.onerror=null;this.src='{{ $pos_d.RelPermalink }}'">
        {{ else }}
        <img class="img-fluid bottom" src="{{ $poswep_h.RelPermalink }}" onerror="this.onerror=null;this.src='{{ $pos_h.RelPermalink }}'">
        {{ end }}
        <img class="img-fluid top" src="{{ $poswep_h.RelPermalink }}" onerror="this.onerror=null;this.src='{{ $pos_h.RelPermalink }}'">
        
        {{"<!-- member social profile -->" | safeHTML}}
        <div class="mask">    
          <ul class="list-inline">
            <a class="btn btn-transparent" href="{{ .Permalink }}">{{ i18n "readMore" }}</a>
          </ul>
        </div>
      </div>
      <div class="member-meta">
        <h4>{{ .Params.name }}</h4>
        <span>{{ .Params.designation}}</span>
      </div>
    </div>
</article>
